snippet temp "Template"
/** 
 *    author:  violist
 *    created: `date +%d.%m.%Y" "%R:%S`
**/
#include <bits/stdc++.h>

using namespace std;

int main() {
  ios::sync_with_stdio(false);
  cin.tie(0);
  $0
  return 0;
}
endsnippet
