snippet temp "Template"
#  author:  violist
#  created: `date +%d.%m.%Y" "%R:%S`

import sys
input = sys.stdin.readline


endsnippet

snippet map
map(int, input().split())
endsnippet

snippet list
list(map(int, input().split()))
endsnippet

snippet for
for i in range(n):
    
endsnippet
