snippet temp "Template"
# author: violist
# created: `date +%d.%m.%Y" "%R:%S`

import sys
input = sys.stdin.readline

for test in range(int(input())):
	n = int(input())
	a = [int(i) for i in input().split()]

endsnippet
