snippet temp "Template"
# author: violist
# created: `date +%d.%m.%Y" "%R:%S`

import sys
input = sys.stdin.readline

t = int(input())
for _ in range(t):
    n = int(input())
    a = list(map(int, input()))
endsnippet
